<%- include("partials/header.ejs") %>

<div class="container-home">
  <h1 style="padding-top: 12%; font-size: 3rem; margin-bottom: 2rem">
    Track anime anytime, anywhere
  </h1>
  <a
    href="/users/login"
    style="
      display: inline-block;
      background-color: #007bff;
      color: white;
      padding: 12px 24px;
      font-size: 1.25rem;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s;
    "
    >Get Started!</a
  >
</div>
<br />
<%- include("partials/footer.ejs") %>
